RewriteEngine On
#RewriteBase /Madad/view
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

<IfModule mod_expires.c>
 ExpiresActive On
 <FilesMatch "\.css$">
    ExpiresDefault "access plus 1 year"
 </FilesMatch>
 <FilesMatch "\.js$">
    ExpiresDefault "access plus 1 year"
 </FilesMatch>
</IfModule>
